#field{
    margin: 0 auto;
    height: 1200px;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 10px;
    border: 1px solid black;
}
.cards{
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
}