@media screen and (min-width:  768px){
    
}
    @media screen and (min-width:  992px){
        figure{
            width: 25%;
            float: left;
            display: inline-block;
            margin: 2%;
        }